.pages {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.pages-thumbnail {
    margin: 20px 20px 20px 0px;
}

.pages-thumbnail-item {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
    background-color: #fbfbfb;
    border: #efefef 1px solid;
}

.pages-thumbnail-item-title {
    text-align: left;
    font-size: 1.3em;
    word-wrap: break-word;
    width: 150px;
    padding: 5px;
}

.pages-thumbnail-item-imgfr {
    position: relative;
}

.pages-thumbnail-imgfr-img {
    height: 40px;
    width: 40px;
}