* {
    font-size: 10pt;
}

html {
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    height: 100%
}

#spa {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
    display: none;
}

.hidden {
    display: none !important;
}

input[type=checkbox] {
    height: 17px;
    width: 17px;
}

label {
    display: flex;
    align-items: center;
}


/***** this is for module "header" *****/
.header-pagename {
    flex-grow: 1;
    line-height: 30px;
    padding-left: 5px;
    background-color: #f9f9f9;
}

.header-action {
    flex-grow: 1;
    text-align: right;
    padding-right: 5px;
    line-height: 30px;
    background-color: #f9f9f9;
}
/***** end of css for module "header" *****/

#popup-bg {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(204, 204, 204, 0.6);
}